body {
  font-family: 'Open Sans', sans-serif;
}

.blue-text {
  color:#004AAD;
}

.blue-text-opacity {
  color:#004AAD;
  opacity: 0.1;
}


.blue-bg {
  background-color: #004AAD;
}

.green-text {
  color: #7ED956;
}

.green-text-opacity {
  color: #7ED956;
  opacity: 0.1;
}


.green-bg {
  background-color: #7ED956;
}

.button:hover {
  background-color: #7ED956;
}

.from-blue-500 {
  --tw-gradient-from: #004AAD;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(20 184 166 / 0));
}

.to-blue-600 {
  --tw-gradient-to: #004AAD;
}